body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

img {
    margin-bottom: 30px; 
}

.wheel-container {
    position: relative;
    width: 300px;
    height: 300px;
}

.wheel {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(
        #961b81 0% 12.5%, #ffffff 12.5% 25%,
        #961b81 25% 37.5%, #ffffff 37.5% 50%,
        #961b81 50% 62.5%, #ffffff 62.5% 75%,
        #961b81 75% 87.5%, #ffffff 87.5% 100%
    );
    border: 5px solid #961b81;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 4s cubic-bezier(0.1, 0.9, 0.2, 1); /* Départ rapide, ralentissement fluide */
}

.color-white {
    color: white !important; 
}



.wheel-label {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wheel-label span {
    position: absolute;
    transform-origin: 50% 50%;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

/* Positions exactes des textes */
.wheel-label span:nth-child(1) {
    transform: rotate(22.5deg) translate(0, -120px);
}
.wheel-label span:nth-child(2) {
    transform: rotate(67.5deg) translate(0, -120px);
}
.wheel-label span:nth-child(3) {
    transform: rotate(112.5deg) translate(0, -120px);
}
.wheel-label span:nth-child(4) {
    transform: rotate(157.5deg) translate(0, -120px);
}
.wheel-label span:nth-child(5) {
    transform: rotate(202.5deg) translate(0, -120px);
}
.wheel-label span:nth-child(6) {
    transform: rotate(247.5deg) translate(0, -120px);
}
.wheel-label span:nth-child(7) {
    transform: rotate(292.5deg) translate(0, -120px);
}
.wheel-label span:nth-child(8) {
    transform: rotate(337.5deg) translate(0, -120px);
}

.pointer {
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    width: 30px;
    height: 30px;
    background-color: gold;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    z-index: 1000;
}

.spin-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #961b81;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.spin-button:active {
    box-shadow: none;
}
